<html>
    <body>
        <form action="/insertEmployee" method="post">
            Employee id :<input type="text" name="empid" id="empid"><br>
            Employee Name :<input type="text" name="ename" id="ename"><br>
            Employee Salary:<input type="text" name="sal" id="sal"><br>
            <button type="submit" name="btn" id="btn" value="btn">Add Employee</button>
        </form>
    </body>
</html>